---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostRow from "../../components/PostRow.astro";

const posts = await getCollection("blog");
const sortedPosts = posts.sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout title="Essays | Thoughts & Writings">
    <div class="space-y-12 max-w-2xl mx-auto">
        <div class="border-b border-zinc-800 pb-8 text-center md:text-left">
            <h1 class="text-3xl font-bold tracking-tight text-white mb-4">
                Essays
            </h1>
            <p class="text-zinc-400">
                Reflection on engineering, research, and the future.
            </p>
        </div>

        <ul class="space-y-10">
            {
                sortedPosts.map((post) => (
                    <li>
                        <PostRow post={post} />
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>
