<a class="post-row" href="{{ post.url }}"><div><h3>{{ post.title }}</h3><p>{{ post.description }}</p>{{ if post.tags }}<div class="post-tags">{{ for tag of post.tags }}<span>#{{ tag }}</span>{{ /for }}</div>{{ /if }}<span class="read-more">Read more →</span></div>{{ if post.image }}<img src="{{ post.thumbnail || post.image }}" alt="{{ post.title }}" width="256" height="256" loading="lazy" decoding="async">{{ /if }}</a>
